.profile {
     display: flex;
     justify-content: left;
     align-items: center;
     margin-left: 5%;
     margin-bottom: 2%;
     flex-wrap: wrap;
}

h2 {
     margin-left: 5%;
     padding: 5px;
}

.profile-option {
     display: flex;
     padding: 5px;
     gap: 20px;
     width: 100%;
}

.profile-option button {
     align-items: center;
     background-color: #FCFCFD;
     border-radius: 4px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
     box-sizing: border-box;
     color: #36395A;
     cursor: pointer;
     font-family: "JetBrains Mono", monospace;
     height: 70px;
     max-width: 355px;
     justify-content: center;
     overflow: hidden;
     padding-left: 16px;
     padding-right: 16px;
     position: relative;
     text-align: center;
     text-decoration: none;
     transition: box-shadow .15s, transform .15s;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     will-change: box-shadow, transform;
     font-size: 15px;
}

.profile-option button:focus {
     box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.profile-option button:hover {
     box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
     transform: translateY(-2px);
}

.profile-option button:active {
     box-shadow: #D6D6E7 0 3px 7px inset;
     transform: translateY(2px);
}

.order:hover,
.security:hover,
.name:hover,
.address:hover,
.payment:hover {
     transform: scale(1);
     transition: transform 0.3s ease;
}

.profile-details {
     width: 100%;
     gap: 10px;
     margin-top: 1.5%;
     align-items: center;
     justify-content: left;
}

.profile-details i {
     padding: 10px;
     margin: 10px;
     cursor: pointer;
     background-color: transparent;
     border: 2px solid #535353;
     border-radius: 100%;
}

.profile-details p {
     margin: 5px;
     color: #111111;
}

.profile-details input {
     background-color: #d4edfc;
     height: 50px;
     font-size: 18px;
     width: 60%;
     color: #000;
     border-radius: 20px;
     border: 2px solid #343434;
     padding: 10px;
}

.save-button {
     display: flex;
     position: relative;
     left: 70%;
     top: 10%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #3376ea;
     color: #fff;
     border-radius: 10px;
     width: 70px;
     height: 50px;
     padding: 20px;
}
/* Media Queries for responsiveness */
@media (max-width: 768px) {
     .profile-option {
          width: 100%;
          display: flex;
          align-items: center;
          border: 2px solid var(--cultured);
          border-radius: var(--border-radius-md);
          scroll-snap-align: start;
          /* This can stay to define snapping point */
     }

     .save-button{
          left: 40%;
     }
     .box,
     a {
          width: 100%;
     }

     .profile {
          display: flex;
          align-items: center;
          margin-left: 2%;
          overflow-x: auto;
          /* Horizontal scrolling */
          cursor: pointer;
          scroll-snap-type: none;
          /* Removed snapping for smoother scrolling */
          overscroll-behavior-inline: contain;
     }

     .has-scrollbar {
          padding-bottom: 5px;
     }

     /* Custom scrollbar */
     .has-scrollbar::-webkit-scrollbar {
          width: 12px;
          height: 12px;
     }

     .has-scrollbar::-webkit-scrollbar-thumb {
          background: transparent;
          border: 3px solid #fff;
          border-radius: 20px;
     }

     .has-scrollbar:hover::-webkit-scrollbar-thumb {
          background: hsl(0, 0%, 90%);
     }

     .has-scrollbar::-webkit-scrollbar-thumb:hover {
          background: hsl(0, 0%, 80%);
     }
}