.wishlist {
     margin-left: 10%;
     margin-right: 10%;
}

.wishlist .featured-products {
     justify-content: left;
}

.wishlist h4 {
     color: #232323;
     font-weight: 500;
     margin: 10px;
}